@use 'variables' as *;

$event-card-width: 18vw;
$event-card-height: 52vh;
$event-card-min-width: 250px;
$event-card-min-height: 350px;

@media (max-width: 768px), (max-height: 500px) {
  .event-card {
    min-height: calc($event-card-min-height + 50px) !important;
    min-width: calc($event-card-min-width + 80px) !important;
    flex: 0 1 auto; /* Prevent shrink below min-width */
  }
  .event-card .card-body {
    display: flex;
    flex-direction: column;
  }
}

.event-card {
  display: inline-block;
  width: $event-card-width;
  height: $event-card-height;
  border-radius: 15px;
  overflow: hidden;
  filter: drop-shadow(3px 3px 5px gray);
  border: none;
  min-width: $event-card-min-width;
  min-height: $event-card-min-height;
}

.event-card-container {
  transition: transform .2s;
}

.event-card-container:hover {
  transform: scale(1.05);
}

.event-card .card-title {
  font-size: clamp(0.9rem, 1rem, 1.8rem);
  font-weight: bold;
}

.event-card .date-text {
  font-size: clamp(0.8rem, 1.8vh, 1.5rem);
  color: $asobo-gray;
}

.event-card .location-text {
  font-size: clamp(0.7rem, 1.5vh, 1.4rem);
  color: $asobo-gray;
}

.card-image-container {
  position: relative;
  height: 23vh;
  min-height: 140px;
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-image-container img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover; /* ensures image fills container without distortion */
  display: block;
}

.event-badge {
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 10;
  filter: drop-shadow(1px 1px 2px);
}

.category-badge-container {
  position: absolute;
  top: 80%;
}

::ng-deep .category-badge-container .p-badge {
  color: white;
}

.event-card-container {
  position: relative;
  display: inline-block;
}

.delete-event-from-list-button {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  color: deeppink;
  z-index: 2;
  padding: 0;
  border: none;
  line-height: 1;

  i {
    background-color: white;
    border-radius: 50%;
    font-size: 1.8rem;
  }
}
