<div class="event-card-container">
  <a [routerLink]="['/events', event().id]">
    <div class="card event-card">
      @if (authService.isLoggedIn()) {
        <p-tag
          class="event-badge"
          [icon]="event().isPrivateEvent ? 'pi pi-lock' : 'pi pi-globe'"
          [severity]="event().isPrivateEvent ? 'warn' : 'success'"
          [value]="event().isPrivateEvent ? 'Private' : 'Public'"
        />
      }
      <div class="card-image-container">
        <img
          class="card-img-top"
          [src]="
          (UrlUtilService.getMediaUrl(
            event().pictureURI || environment.eventDummyCoverPicRelativeUrl
          ) | secureImage | async) || ''
        "
          alt="{{ event().title }}"
        />
      </div>
      <div class="card-body">
        <h2 class="card-title">{{ event().title }}</h2>
        <div class="card-date date-text">{{ event().date | date : 'EEE, MMMM d, y' }}</div>
        <div class="card-time date-text">{{ event().date | date : 'h:mm a' }}</div>
        <div class="card-location location-text mt-2">in {{ event().location }}</div>
      </div>
    </div>
  </a>
  @if (accessControlService.hasAdminAccess() || accessControlService.getCurrentUser()?.id === event().creator?.id
  || (this.accessControlService.isCurrentUserEventAdmin(event()))) {
    <button
      class="btn btn-link p-0 delete-event-from-list-button"
      aria-label="Delete event"
      (click)="eventDeleted.emit(event()); $event.stopPropagation()">
      <i class="pi pi-times-circle clickable" aria-hidden="true"></i>
    </button>
  }
</div>
