@use 'variables' as *;

$event-card-width: 15vw;
$event-card-height: 50vh;

@media (max-width: 768px), (max-height: 500px) {
  .event-card {
    min-width: 200px;
    min-height: 200px;
    flex: 0 1 auto; /* Prevent shrink below min-width */
  }
  .event-card .card-body {
    display: flex;
    flex-direction: column;
  }
}

.event-card {
  display: inline-block;
  width: $event-card-width;
  height: $event-card-height;
  border-radius: 15px;
  overflow: hidden;
  filter: drop-shadow(3px 3px 5px gray);
  border: none;
}

.event-card-container {
  transition: transform .2s;
}

.event-card-container:hover {
  transform: scale(1.05);
}

.event-card .card-title {
  font-weight: bold;
}

.event-card .date-text {
  font-size: 1.8vh;
}

.event-card .location-text {
  font-size: 1.5vh;
}

.card-image-container {
  position: relative;
  height: 23vh;
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-image-container img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover; /* ensures image fills container without distortion */
  display: block;
}

.event-badge {
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 10;
  filter: drop-shadow(1px 1px 2px);
}

.event-card-container {
  position: relative;
  display: inline-block;
}

.delete-event-from-list-button {
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
  position: absolute;
  top: -0.3vw;
  right: -0.3vw;
  color: deeppink;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
}
