@use 'variables' as *;

.media-thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8vw;
  // flex-direction: row;
}

.single-media-container {
  width: clamp(70px, 7vw, 150px);
  height: clamp(70px, 7vw, 150px);
  position: relative;
  display: inline-block;
}

.single-media-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-media-container video {
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
}

.add-media-button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.5rem, 4vw, 4rem);
  font-weight: bold;
  background-color: $asobo-purple-transparent;
  color: $asobo-purple;
  cursor: pointer;
  line-height: 1;
  font-family: Arial, sans-serif;
}

.delete-media-button {
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
  position: absolute;
  top: -0.5vw;
  right: -0.5vw;
  color: deeppink;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
}

.carousel-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;  /* above all content */
}

.carousel-content {
  max-width: 50vw;
}

.media-slide {
  aspect-ratio: 4/3;
  display: flex;
  justify-content: center;
}

.media-slide img,
.media-slide video {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.p-button .p-icon {
  color: white;
}

.p-button-text.p-button-secondary:not(:disabled):hover .p-icon {
   color: $asobo-purple;
}

.p-carousel-indicator-list .p-carousel-indicator-button {
  background-color: $asobo-light-gray !important;
}

.p-carousel-indicator-active .p-carousel-indicator-button {
  background-color: $asobo-purple !important;
}



