@use 'variables' as *;

.loader-overlay {
  position: absolute;
  inset: 0;

  // Main flex container centers everything
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: rgba(255, 255, 255, 0.95);
  z-index: 100;

  // Make the content itself a column
  flex-direction: column;
  gap: 1rem; // Space between spinner and text

  i {
    font-size: 3rem;
    color: $asobo-purple;
  }

  p {
    margin: 0;
    color: #666;
    font-size: 1rem;
  }
}


