@use '../../../../styles/variables' as *;

/*.navbar {
  background-color: color-mix(in srgb, $asobo-purple 5%, transparent) !important ;
}*/

#asobo-header-logo {
  height: auto;
  max-width: 100%; /* prevents overflow on small screens */
  width: 80px; /* base size for desktop */
  cursor: pointer;
}

@media (max-width: 768px) {
  .asobo-logo {
    width: 60px; /* smaller logo on mobile */
  }
}

.search-button {
  color: $asobo-purple;
  border-color: $asobo-purple;
}

.btn-search-img {
  width: 25px;
  height: 25px;
}

.search-bar {
  justify-content: space-between !important;
  /*margin-left: 0;*/
}

.search-bar .search-div {
  max-width: 37vw;
  display: flex;
}

.search-bar .btn-search {
  transform: translateX(-100%);
  border: none;
  padding-right: 8px;
}

.btn-search-img {
  width: 25px;
  height: 25px;
}

.navbar .search-bar {
  flex-grow: 1;
  max-width: 450px;
}

.navbar .search-div {
  width: 100%;
}

.navbar .form-control {
  flex-grow: 1;
}

.navbar .btn-nav-login-logout {
  max-width: fit-content;
}

#user-nav-thumbnail {
  .user-thumbnail {
    width: 40px;
    height: 40px;
    animation: transform .2s;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  .user-thumbnail:hover {
    transform: scale(1.05);
  }
}

#create-event-nav-anchor {
  list-style: none;
  margin-left: 15px;
}

.add-event-plus {
  font-size: 1.5em;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  transform: translateY(-2px);
}

.admin-nav-icon {
  transform: translateY(1px);
}

@media (max-width: 992px) {
  .nav-link {
    margin-inline: 5px !important;
  }

  .btn-nav-login-logout {
    margin-top: var(--bs-nav-link-padding-y);
  }

  .navbar-toggler {
    margin-left: 0;
  }

  .navbar-nav {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 6px;
    padding-block: 4px;
  }

  .nav-flex-break {
    flex-basis: 100%;
    height: 0;
  }

  .nav-login-logout-button-container {
    margin-left: 0;
    justify-content: center;
  }

  #user-nav-thumbnail {
    justify-content: center;
  }
}
