<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
  <div class="container-fluid d-flex align-items-center">
    <a class="navbar-brand me-3" routerLink="/">
      <img src="images/logo.png" alt="Asobo Logo" id="asobo-header-logo">
    </a>

    <!--<div class="search-bar d-flex align-items-center me-auto">
      <div class="search-div d-flex w-100">
        <input class="form-control" type="search" name="query" placeholder="Search for events" aria-label="Search">
        <button class="btn-search btn" type="submit">
          <img class="btn-search-img" src="images/icons/magnifying_glass_purple.png" alt="Search Button">
        </button>
      </div>
    </div>-->

    <div class="search-bar d-none d-sm-flex align-items-center ms-0 me-auto">
      <app-global-search class="w-100"></app-global-search>
    </div>

    <div class="d-lg-none flex-grow-1"></div>

    @if (this.authService.isLoggedIn()) {
      <div class="d-flex">
        <a routerLink="/create-event" class="btn form-control me-2 d-flex align-items-center btn-purple btn-primary"
           id="create-event-nav-anchor">
          <span class="add-event-plus">+</span>
          <span class="ms-1">Event</span>
        </a>
      </div>
    }

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-sm-none mb-2 ms-2" style="--search-bar-max-width: none">
        <app-global-search class="w-100"></app-global-search>
      </div>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/about" class="nav-link"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}"
             [attr.aria-current]="rlaAbout.isActive ? 'page' : null"
             #rlaAbout="routerLinkActive">
            About
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/events" class="nav-link"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}"
             [attr.aria-current]="rla.isActive ? 'page' : null"
             #rla="routerLinkActive">
            Events
          </a>
        </li>
        @if (authService.isLoggedIn()) {
          @if (accessControlService.hasAdminAccess()) {
            <li class="nav-item">
              <a [routerLink]="environment.adminSectionBaseUrl" class="nav-link"
                 routerLinkActive="active"
                 [attr.aria-current]="rlaAdmin.isActive ? 'page' : null"
                 #rlaAdmin="routerLinkActive">
                <i class="pi pi-cog admin-nav-icon" aria-hidden="true"></i> Admin
              </a>
            </li>
          }
        } @else {
          <li class="nav-item">
            <a routerLink="/register" class="nav-link"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}"
               [attr.aria-current]="rlaRegister.isActive ? 'page' : null"
               #rlaRegister="routerLinkActive">
              Register
            </a>
          </li>
        }

        <li class="nav-flex-break d-lg-none" aria-hidden="true"></li>

        @if (authService.isLoggedIn()) {
          <li class="nav-item d-flex align-items-center user-profile-thumbnail" id="user-nav-thumbnail">
            <a [routerLink]="this.loggedInUserProfile.userProfileUrl">
              <img [src]="(this.loggedInUserProfile.pictureUrl | secureImage | async) || ''"
                   [alt]="this.loggedInUserProfile.pictureAlt" class="user-thumbnail me-2">
            </a>
            <div class="d-flex flex-column justify-content-center">
              <span class="username-thumbnail">{{ this.loggedInUserProfile.username }}</span>
              <span class="user-myprofile">
                <a [routerLink]="this.loggedInUserProfile.userProfileUrl">My Profile</a>
              </span>
            </div>
          </li>
        }

        <li class="nav-item">
          <div class="d-flex ms-2 nav-login-logout-button-container">
            @if (this.authService.isLoggedIn()) {
              <button class="btn btn-nav-login-logout form-control me-2 d-flex btn-purple btn-primary" type="button"
                      (click)="this.authService.logout()">
                Logout
              </button>
            } @else {
              <a routerLink="/login" class="btn btn-nav-login-logout form-control me-2 d-flex btn-purple btn-primary" id="login-nav-anchor">Login</a>
            }
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
