@use 'variables' as *;

.comment-box {
  background: white;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #E9ECEF;
  min-width: 275px;
}

.comment-box:not(:last-child) {
  margin-bottom: 20px;
}

.comment-username {
  color: $asobo-purple;
  font-weight: bold;
  text-decoration: none;
}

.comment-username:hover {
  text-decoration: underline;
}

.comment-time {
  color: $asobo-gray;
  font-size: 0.85rem;
  margin-left: 0.5rem;
}

.comments-list {
  font-size: 0.9rem;
  max-width: 800px;
  margin: 2rem auto;
  padding: 15px;
  background-color: $asobo-purple-transparent;
  border-radius: 15px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.comment-actions {
  display: flex;
  gap: 5px;
  align-items: center;
}

.p-textarea {
  resize: none;
}
