@if (comments() && comments().size() > 0) {
  <div class="comments-list">
    @for (comment of comments(); track comment.id) {
      <div class="comment-box">
        <div class="d-flex gap-3">
          <a [routerLink]="`${environment.userProfileBaseUrl}${comment.username}`">
            <img class="user-avatar"
                 [src]="(UrlUtilService.getMediaUrl(comment.pictureURI || environment.userDummyProfilePicRelativeUrl)  | secureImage | async) || ''"
                 alt="{{comment.username}}'s avatar">
          </a>
          <div class="flex-grow-1">
            <div class="d-flex justify-content-between align-items-center">
              <!-- replace link with userProfileService userProfile.userProfileUrl-->
              <a class="mb-0 comment-username"
                 [routerLink]="`${environment.userProfileBaseUrl}${comment.username}`">{{ comment.username }}</a>
              <span class="comment-time">{{ comment.creationDate | date:'short' }}</span>
            </div>

            <div class="d-flex align-items-start">
              @if (comment.id === editingCommentId()) {
                <textarea #editTextarea
                          [value]="editingCommentText()"
                          class="flex-grow-1 me-3 mt-2"
                          pTextarea>
                </textarea>

                <div class="comment-actions mt-1 ms-auto flex-wrap">
                  <i class="pi pi-check clickable me-1" (click)="saveEdit(comment, editTextarea.value)"></i>
                  <i class="pi pi-times clickable" (click)="cancelEdit()"></i>
                </div>
              } @else {
                <p class="mt-2 flex-grow-1 text-break">{{ comment.text }}</p>
                @if (accessControlService.hasAdminAccess() || accessControlService.getCurrentUser()?.id === comment.authorId) {
                  <div class="comment-actions mt-3 ms-2">
                    <i class="pi pi-pen-to-square clickable" (click)="startEdit(comment)"></i>
                    <i class="pi pi-trash clickable" (click)="commentDeleted.emit(comment)"></i>
                  </div>
                } @else if (this.accessControlService.isCurrentUserEventAdmin(this.event())) {
                  <div class="comment-actions mt-3 ms-2">
                    <i class="pi pi-trash clickable" (click)="commentDeleted.emit(comment)"></i>
                  </div>
                }
              }
            </div>
          </div>

        </div>
      </div>
    }
  </div>
}
