@use '../../../styles/variables' as *;

.picture-box {
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  margin: 1.2rem auto 1.5rem;
  border: 2px dashed $asobo-purple;
  border-radius: 50%;
  background-color: color-mix(in srgb, $asobo-purple 7%, transparent);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 200px;
  min-height: 200px;
  // width: 100%;
  // max-width: 300px;
  // aspect-ratio: 1 / 1;

  &.disabled {
    cursor: default !important;
    pointer-events: none;
    border: none;
  }
}

.picture-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .add-picture-plus {
    color: $asobo-purple;
    width: 5rem; // Control size with width instead of font-size
    height: 5rem;
    display: inline-block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;

    // For SVG styling
    stroke: $asobo-purple;
  }

  .picture-label {
    margin-top: 0.5rem;
    color: $asobo-purple;
    font-weight: 500;
  }
}

.picture-box:hover .add-picture-plus {
  transform: rotate(90deg);
}

/*@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}*/

.rectangle-picture-box {
  border-radius: 15px;
}

.picture-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picture-box.picture-loaded {
  border: none;
  background-color: transparent;
}
