<!-- First Row for Image -->
<div class="row text-start">
  <!-- Image column -->
  <div class="col-md-6 event-image-container">
    <img
      class="card-img-top"
      [src]="UrlUtilService.getMediaUrl(event()?.pictureURI || environment.eventDummyCoverPicRelativeUrl)"
      alt="{{ event()?.title }}"
    />
    @if (authService.isLoggedIn()) {
      <p-tag
        class="event-badge"
        [icon]="event()?.isPrivate ? 'pi pi-lock' : 'pi pi-globe'"
        [severity]="event()?.isPrivate ? 'warn' : 'success'"
        [value]="event()?.isPrivate ? 'Private' : 'Public'"
      />
    }
  </div>

  <!-- Event Info Column -->
  <div class="col-md-6 text-start">
    @if (event()) {
      <app-event-info
        [event]="event()"
        [eventCoreInfo]="{
        id: event()!.id,
      title: event()!.title,
      pictureURI: event()!.pictureURI,
      description: event()!.description,
      location: event()!.location,
      date: event()!.date,
      time: event()!.date,
      isPrivate: event()!.isPrivate
    }"
        [currentUser]="currentUser"
        (eventUpdated)="onEventUpdated($event)"
      />

      <div>
        @if (authService.isLoggedIn()) {
          @if (isUserAlreadyPartOfEvent()) {
            <a class="btn btn-purple imin-btn" (click)="joinOrLeaveEvent()">I'm out!</a>
          } @else {
            <a class="btn btn-purple imin-btn" (click)="joinOrLeaveEvent()">I'm in!</a>
          }
        }
      </div>

    }
  </div>
</div>


@if (this.authService.isLoggedIn()) {
  <div class="row text-start mt-4 align-items-center gx-5">
    <!-- Comment Box for new comment -->
    <div class="col-md-6">
      <app-new-comment
        [author]="currentUser"
        (commentCreated)="onCommentCreated($event)"
      ></app-new-comment>
    </div>

    <!-- Participants -->
    <div class="col-md-6 text-start">
      <app-participants [participants]="participants()"/>
    </div>
  </div>

  <!-- Existing comments list -->
  <div class="row text-start mt-3 gx-5">
    <div class="col-md-6 text-start">
      <app-comments-list
        [comments]="comments()"
        (commentDeleted)="deleteComment($event)"
        (commentEdited)="editComment($event)"
      />
    </div>

    <!-- Photos & Video -->
    <div class="col-md-6 mt-3 text-start">
      <app-gallery
        [mediaItems]="mediaItems()"
        (mediaAdded)="uploadMedia($event)"
        (mediaDeleted)="deleteMedia($event)"
      />
    </div>
  </div>
}
