@use 'variables' as *;

.card-img-top {
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
}

/* LINKS */
.see-more-link {
  text-decoration: none;
  color: $asobo-purple;
  font-size: 0.9rem;
}

.see-more-link:hover {
  text-decoration: underline;
}

/* JOIN BUTTON */
.imin-btn {
  font-size: 1rem;
}

.btn-post-comment:hover {
  color: white;
}

.event-image-container {
  position: relative;
}

.event-image-container ::ng-deep .picture-box {
  margin-top: 0;
  margin-bottom: 0;
}

.event-badge {
  position: absolute;
  top: 12px;
  left: 15px;
  z-index: 10;
  filter: drop-shadow(1px 1px 2px);
}
