
CREATE TABLE event (
    creation_date timestamp(6) without time zone,
    date timestamp(6) without time zone NOT NULL,
    modification_date timestamp(6) without time zone,
    creator_id uuid,
    id uuid NOT NULL,
    pictureuri character varying(4096),
    description character varying(2000) NOT NULL,
    location character varying(255) NOT NULL,
    title character varying(255) NOT NULL,
    is_private boolean DEFAULT true
);


CREATE TABLE event_event_admins (
    administered_events_id uuid NOT NULL,
    event_admins_id uuid NOT NULL
);


CREATE TABLE event_participants (
    attended_events_id uuid NOT NULL,
    participants_id uuid NOT NULL
);


CREATE TABLE medium (
    event_id uuid NOT NULL,
    id uuid NOT NULL,
    mediumuri character varying(4096) NOT NULL,
    creator_id uuid NOT NULL
);


CREATE TABLE role (
    id bigint NOT NULL,
    name character varying(255)
);


CREATE TABLE user_comment (
    creation_date timestamp(6) without time zone,
    modification_date timestamp(6) without time zone,
    author_id uuid NOT NULL,
    event_id uuid,
    id uuid NOT NULL,
    text character varying(255) NOT NULL
);


CREATE TABLE user_roles (
    user_id uuid NOT NULL,
    role_id bigint NOT NULL
);


CREATE TABLE users (
    is_active boolean NOT NULL,
    register_date timestamp(6) without time zone,
    id uuid NOT NULL,
    pictureuri character varying(4096),
    email character varying(255) NOT NULL,
    first_name character varying(255) NOT NULL,
    location character varying(255),
    old_password character varying(255),
    password character varying(255) NOT NULL,
    salutation character varying(255) NOT NULL,
    surname character varying(255) NOT NULL,
    username character varying(255) NOT NULL,
    about_me character varying(255)
);


ALTER TABLE ONLY event
    ADD CONSTRAINT event_pkey PRIMARY KEY (id);


ALTER TABLE ONLY medium
    ADD CONSTRAINT medium_pkey PRIMARY KEY (id);


ALTER TABLE ONLY role
    ADD CONSTRAINT role_pkey PRIMARY KEY (id);


ALTER TABLE ONLY user_comment
    ADD CONSTRAINT user_comment_pkey PRIMARY KEY (id);


ALTER TABLE ONLY user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (user_id, role_id);


ALTER TABLE ONLY users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


ALTER TABLE ONLY users
    ADD CONSTRAINT users_username_key UNIQUE (username);


CREATE INDEX idx_event_date ON event USING btree (date);


CREATE INDEX idx_event_location ON event USING btree (location);


CREATE INDEX idx_event_private ON event USING btree (is_private);


CREATE INDEX idx_event_title ON event USING btree (title);


CREATE INDEX idx_user_active ON users USING btree (is_active);


CREATE INDEX idx_user_email ON users USING btree (email);


CREATE INDEX idx_user_first_name ON users USING btree (first_name);


CREATE INDEX idx_user_surname ON users USING btree (surname);


CREATE INDEX idx_user_username ON users USING btree (username);


ALTER TABLE ONLY event
    ADD CONSTRAINT fk1h6eb0wh6dq1j6h52570b4keg FOREIGN KEY (creator_id) REFERENCES users(id);


ALTER TABLE ONLY medium
    ADD CONSTRAINT fk3w1fuk3erkwy3d8nyiwenjx0t FOREIGN KEY (event_id) REFERENCES event(id);


ALTER TABLE ONLY event_event_admins
    ADD CONSTRAINT fk536isow46vbmofdyrws7rqiiy FOREIGN KEY (event_admins_id) REFERENCES users(id);


ALTER TABLE ONLY user_comment
    ADD CONSTRAINT fk6sgvqspyk2p1ktxdtxktpjers FOREIGN KEY (author_id) REFERENCES users(id);


ALTER TABLE ONLY event_participants
    ADD CONSTRAINT fk8gnffqcvvxcfijv2ycdpnsarq FOREIGN KEY (participants_id) REFERENCES users(id);


ALTER TABLE ONLY user_comment
    ADD CONSTRAINT fk9u2m2s1qjbpckok3lbxktg75b FOREIGN KEY (event_id) REFERENCES event(id);


ALTER TABLE ONLY medium
    ADD CONSTRAINT fk_medium_creator FOREIGN KEY (creator_id) REFERENCES users(id);


ALTER TABLE ONLY user_roles
    ADD CONSTRAINT fkhfh9dx7w3ubf1co1vdev94g3f FOREIGN KEY (user_id) REFERENCES users(id) ON UPDATE CASCADE ON DELETE CASCADE;


ALTER TABLE ONLY event_event_admins
    ADD CONSTRAINT fkku49a4jkyexfeh22eelp24ll7 FOREIGN KEY (administered_events_id) REFERENCES event(id) ON DELETE CASCADE;


ALTER TABLE ONLY event_participants
    ADD CONSTRAINT fkoxwssrwow02cmts1jd3nauvxa FOREIGN KEY (attended_events_id) REFERENCES event(id);


ALTER TABLE ONLY user_roles
    ADD CONSTRAINT fkrhfovtciq1l558cw6udg0h0d3 FOREIGN KEY (role_id) REFERENCES role(id);

