@use 'variables' as *;

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader-content {
  text-align: center;

  i {
    font-size: 3rem;
    color: $asobo-purple;
  }

  p {
    margin-top: 1rem;
    font-size: 1.1rem;
  }
}

.spinner-border {
  color: $asobo-purple;

  &.spinner-sm {
    width: 1.5rem;
    height: 1.5rem;
    border-width: 0.15em;
  }

  &.spinner-lg {
    width: 4rem;
    height: 4rem;
    border-width: 0.3em;
  }
}
