$bs-primary-rgb: 105, 15, 147;
$asobo-purple: #690F93;
$asobo-purple-transparent: color-mix(in srgb, $asobo-purple 7%, transparent);
$asobo-purple-transparent-65: color-mix(in srgb, $asobo-purple 65%, transparent);
$asobo-purple-transparent-75: color-mix(in srgb, $asobo-purple 75%, transparent);
$asobo-purple-transparent-85: color-mix(in srgb, $asobo-purple 85%, transparent);
$asobo-light-gray: #F8F9FA;
$grayish-blue: #ADB5BD;
