@use 'variables' as *;

@mixin datepicker-styles {
  display: flex;
  flex-direction: row-reverse;

  --p-inputtext-focus-border-color: color-mix(in srgb, $asobo-purple 80%, transparent);

  input {
    flex: 1;

    &:focus {
      border: 2px solid color-mix(in srgb, $asobo-purple 80%, transparent) !important;
    }
  }

  .p-datepicker-dropdown {
    border-radius: 0;
    border-end-start-radius: var(--p-datepicker-dropdown-border-radius);
    border-start-start-radius: var(--p-datepicker-dropdown-border-radius);
    border: 1px solid var(--p-datepicker-dropdown-border-color);
    background-color: var(--p-datepicker-dropdown-background);

    &:hover {
      cursor: default;
    }
  }
}

@mixin datepicker-input-styles {
  border-end-start-radius: 0;
  border-start-start-radius: 0;
  border-start-end-radius: var(--p-inputtext-border-radius);
  border-end-end-radius: var(--p-inputtext-border-radius);
  border-left: none;
}
