<!-- src/main/resources/templates/index.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <title>Event</title>
    <link href="/css/single-event.css" rel="stylesheet">
</head>

<body>
<main layout:fragment="content" class="mt-5 container d-flex flex-column align-items-center flex-grow-1">


    <div class="container">
        <!-- First Row for Image -->
        <div class="row text-start">
            <!-- Image column -->
            <div class="col-md-6">
                <img src="/images/events/test_event/movie_night.jpg" class="card-img-top" alt="movie night picture">
            </div>

            <!-- Event Info Column -->
            <div class="col-md-6 text-start">
                <div class="mb-3">TITLE, DATE, LOCATION, <a href="" class="btn btn-purple imin-btn">I'm in!</a></div>
                <div class="mb-3 bg-body-tertiary infobox">INFOBOX</div>
            </div>
        </div>

        <!-- Comment Box & Participants Row -->
        <div class="row text-start">
            <div class="col-md-6 text-start">
                COMMENT BOX
            </div>

            <div class="col-md-6 text-start">
                PARTICIPANTS
            </div>
        </div>

        <!-- Comments & Gallery Row -->
        <div class="row text-start">
            <div class="col-md-6 text-start">
                COMMENTS
            </div>

            <div class="col-md-6 text-start">
                GALLERY
            </div>
        </div>

    </div>


    <!-- JavaScript will populate this -->


</main>
</body>
</html>
