@use 'variables' as *;
@use '../event-card/event-card' as *;

$event-card-gap: 1.2rem;
$number-of-event-cards-per-row: 3;

.event-search-bar {
  margin-bottom: 2rem;

  app-global-search {
    width: 50%;
  }
}

#event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  gap: $event-card-gap;
  margin: 0 auto;
  max-width: calc(
    ($event-card-width * $number-of-event-cards-per-row) +
    ($event-card-gap * ($number-of-event-cards-per-row - 1))
  );
}

#event-list li {
  list-style: none;
}

.sort-container {
  text-align: center;

  .sort-label {
    font-weight: bold;
    color: $asobo-purple;
  }
}

.sort-controls {
  button {
    transition: all 0.2s;
    background-color: $asobo-purple-transparent;
    color: $asobo-purple;
    border-color: $asobo-purple;

    &.active {
      transform: scale(1.05);
      box-shadow: 0 2px 4px rgba(0,0,0,0.2);
      color: white;
      background-color: $asobo-purple;
      font-weight: 600;
    }
  }
}
