{% extends "layout.njk" %}

{% block title %}Events - asobō!{% endblock %}

{% block content %}
<main class="mt-5 container d-flex flex-column align-items-center flex-grow-1">
    <ul id="event-list" class="list-unstyled">
        <!-- JavaScript will populate this -->
    </ul>
</main>
{% endblock %}

{% block scripts %}
<script src="/js/global.js"></script>
<script src="/js/events/events-list.js"></script>
{% endblock %}
