@use 'variables' as *;
@use '../../events/event-card/event-card' as *;

$event-card-gap: 1.2rem;
$number-of-event-cards-per-row: 3;

#event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  row-gap: $event-card-gap;
  column-gap: 0;
  margin: 0 auto;
  max-width: calc(
    ($event-card-width * $number-of-event-cards-per-row) +
    ($event-card-gap * ($number-of-event-cards-per-row - 1))
  );
}

#event-list li {
  list-style: none;
  margin-right: $event-card-gap;
}

#event-list li:nth-child(3n) {
  margin-right: 0;
}

.user-card {
  transition: box-shadow 0.2s;
  filter: drop-shadow(3px 3px 5px gray);

  img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  &:hover {
    transform: scale(1.05);
  }
}

.search-term {
  color: $asobo-purple;
}
