<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <title>Event</title>
    <link href="/css/single-event.css" rel="stylesheet">
</head>

<body>
<main layout:fragment="content" class="mt-5 container d-flex flex-column align-items-center flex-grow-1">
    <div class="container" id="user-profile-page-container">

    </div>
</main>

<div layout:fragment="scripts">
    <script th:src="@{/js/global.js}"></script>
    <script th:src="@{/js/users.js}"></script>
</div>
</body>
</html>